<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikaowo.join">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.ikaowo.join.KwMarketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.ikaowo.join.MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:windowSoftInputMode = "adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".modules.user.activity.SigninActivity"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity android:name=".modules.user.activity.AddBrandActivity"
            android:label="@string/title_activity_add_brand"/>

        <activity android:name=".modules.user.activity.SignupActivity"
            android:label="@string/title_activity_signup" />

        <activity android:name=".modules.user.activity.ResetPasswdActivity"
            android:label="@string/title_activity_resetpasswd" />

        <activity android:name=".modules.user.activity.BrandListActivity"
            android:windowSoftInputMode = "adjustPan"/>

        <activity android:name=".modules.promption.activity.AddPromptionActivity"
             android:windowSoftInputMode="stateHidden"
             android:label="@string/title_activity_add_promotion"/>

        <activity android:name=".modules.promption.activity.SearchPromptionActivity"
                  android:label="@string/title_activity_add_promotion"/>

        <activity android:name=".modules.brand.activity.BrandDetailActivity"
                  android:label="@string/title_activity_brand_detail">
            <intent-filter>
                <data
                    android:host="brand"
                    android:scheme="join" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".modules.promption.activity.JoinedListActivity"
                  android:label="@string/title_activity_joined_list" />

        <activity android:name=".modules.promption.activity.JoinActivity"
                  android:label="@string/title_activity_joined_list">
            <intent-filter>
                <data
                    android:host="activity"
                    android:scheme="join"
                    android:pathPattern="/join/.*"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".modules.mine.activity.MineActivity" />

        <activity android:name=".modules.mine.activity.UpdatePasswordActivity"
                  android:label="@string/title_activity_update_password" />

        <activity android:name=".modules.mine.activity.MyPromptionActivity"
                  android:label="@string/title_activity_mine_promption" />

        <activity android:name=".modules.webview.activity.WebViewActivity" />

        <!-- Umeng Config -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />

        <activity
            android:name="com.ikaowo.join.ViewImageActivity"
            android:label="@string/title_activity_view_image"
            android:theme="@style/AppTheme.FullScreen" />


    </application>

</manifest>
