<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikaowo.join">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name="com.ikaowo.join.KwMarketApplication"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name="com.ikaowo.join.MainTabActivity"
        android:windowSoftInputMode="adjustNothing"
        android:launchMode="singleTop"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".modules.user.activity.SigninActivity"
        android:theme="@style/AppTheme.FullScreen">
      <intent-filter>
        <data
            android:host="activity"
            android:pathPattern="/login"
            android:scheme="join"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>

    <activity
        android:label="@string/title_activity_add_brand"
        android:name=".modules.user.activity.AddBrandActivity"/>

    <activity
        android:label="@string/title_activity_signup"
        android:windowSoftInputMode="stateHidden|adjustResize"
        android:name=".modules.user.activity.SignupActivity"/>

    <activity
        android:label="@string/title_activity_resubmit"
        android:name=".modules.user.activity.ReSubmitInfoActivity"/>

    <activity
        android:label="@string/title_activity_resetpasswd"
        android:name=".modules.user.activity.ResetPasswdActivity"/>

    <activity
        android:name=".modules.user.activity.BrandListActivity"
        android:windowSoftInputMode="adjustPan"/>

    <activity
        android:label="@string/title_activity_add_promotion"
        android:name=".modules.promption.activity.AddPromptionActivity"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:label="@string/title_activity_add_promotion"
        android:name=".modules.promption.activity.EditPromptionActivity"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:label="@string/title_activity_add_promotion"
        android:name=".modules.promption.activity.SearchPromptionActivity"/>

    <activity
        android:label="@string/title_activity_brand_detail"
        android:name=".modules.brand.activity.BrandDetailActivity">
      <intent-filter>
        <data
            android:host="brand"
            android:scheme="join"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>

    <activity android:name=".modules.brand.activity.BrandIntroduceActivity"
      android:label="@string/title_activity_brand_introduce"
        />
    <activity
        android:label="@string/title_activity_joined_list"
        android:name=".modules.promption.activity.JoinedListActivity">
      <intent-filter>
        <data
            android:host="activity"
            android:pathPattern="/join_list/.*"
            android:scheme="join"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>

    <activity
        android:label="@string/title_activity_join"
        android:name=".modules.promption.activity.JoinActivity">
      <intent-filter>
        <data
            android:host="activity"
            android:pathPattern="/join/.*"
            android:scheme="join"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>

    <activity android:name=".modules.mine.activity.MineActivity"/>

    <activity
        android:label="@string/title_activity_update_password"
        android:name=".modules.mine.activity.UpdatePasswordActivity"/>

    <activity
        android:label="@string/title_activity_mine_promption"
        android:name=".modules.mine.activity.MyPromptionActivity"/>

    <activity
        android:label="@string/title_activity_join_detail"
        android:name=".modules.promption.activity.JoinDetailActivity"/>

    <activity android:name=".modules.webview.activity.WebViewActivity"/>

    <activity android:name=".modules.webview.activity.PromptionDetailWebViewActivity"/>

    <activity android:name=".modules.promption.activity.CompletePromptionActivity">
      <intent-filter>
        <data
            android:host="activity"
            android:pathPattern="/complete/.*"
            android:scheme="join"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>
    <activity android:name=".modules.mine.activity.SystemNotificationActivity"/>
    <!-- Umeng Config -->
    <service
        android:name="com.umeng.update.net.DownloadingService"
        android:process=":DownloadingService"/>

    <activity
        android:name="com.umeng.update.UpdateDialogActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <meta-data
        android:name="UMENG_APPKEY"
        android:value="${UMENG_APPKEY}"/>

    <activity
        android:label="@string/title_activity_view_image"
        android:name="com.ikaowo.join.ViewImageActivity"
        android:theme="@style/AppTheme.FullScreen"/>

    <!-- 配置第三方Receiver -->
    <receiver
        android:name=".modules.push.PushReceiver"
        android:exported="false" >
      <intent-filter>
        <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
      </intent-filter>
    </receiver>


  </application>

</manifest>
